/* Global.css */

body {
  background-color: #f44c4c; /* Beispielhintergrundfarbe */
  /* Weitere CSS-Regeln für den Hintergrund hier */
}

.card{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dcdcdc;
  border: 2px solid rgb(118, 118, 118);
  border-radius: 10px;
  box-shadow: 3px 3px rgba(35, 35, 35, 0.857);
  padding: 20px;
  text-align: center;
  max-width: 250px;
}

.card .card-logo{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.card .card-title{
  font-family: Arial,sans-serif;
  margin: 0;
  color: rgb(58, 58, 58);
}

.card .card-text{
  font-family:Arial,sans-serif;
  color: rgb(52, 52, 52);
}