
body{
    background-color: rgba(0, 0, 0, 0.927)
}

.toDoList {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: white;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px, 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.addButton{
    background-color: rgba(128, 255, 0, 0.711);
}

.addButton:hover{
    background-color: rgba(94, 188, 1, 0.604);
}

.deleteButton{
    background-color: rgba(165, 42, 42, 0.655);
}

.deleteButton:hover{
    background-color: rgba(99, 26, 26, 0.582);
}

.moveButton{
    background-color: rgba(0, 255, 255, 0.478);
}

.moveButton:hover{
    background-color: rgba(7, 138, 138, 0.478);
}

input[type = "text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hwb(0 0% 80% / 0.556);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.471);
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px, solid hsla(0, 0%, 0.75%);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.deleteButton, .moveButton {
    padding: 8px, 12px;
    font-size: 1.4 rem;
    margin-left: 10px;
}